{
    "presets": [["env", {
        "targets": {
            "chrome": 56,
            "ie": 11,
            "firefox": 49,
            "safari": 10,
            "edge": 12
        }
    }], "es2015", "react"],
    "plugins": []
}