.menu {
    width: 300px;
    box-sizing: border-box;
    border-right: 2px solid $main_border_color;
    flex-grow: 0;
}

/*=== card ===*/

.custom-card {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-radius: none !important;
}