/*=== general ===*/

.o-hidden {
    overflow: hidden;
}

.cursor-pointer {
    cursor: pointer;
}

/*=== card for menu ===*/

.custom-card {
    .card-header {
        padding: $list-inline-padding $font-size-base !important;
    }
    .card-body {
        padding: $font-size-base !important;
    }
}

/*=== flex ===*/

.align-i-center {
    align-items: center;
}