a {
    transition: .3s;
}

/*=== bootstrap styles ===*/

.card-header {
    background-color: $gray-200;
    h6 {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
    }
}