body, h1, h2, h3, h4, h5, h6,
p, span {
    color: $font_color;
}

a {
    transition: .3s;
}

/*=== bootstrap styles ===*/

.card-header {
    background-color: $gray-300;
    h6 {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
    }
}