/*=== main ===*/

$main_border_color: #e9eaee;
$font_color: #19233c;
$font_family: 'Roboto', sans-serif;

/*=== header ===*/

$header_bg: #fff;

$header_title: #233539;
$header_title_hover: lighten($header_title, 15%);